@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex justify-content-center align-items-center vh-100">
<div class="container" style="padding-left:300px">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>A Class </h5>
                </div>
                <div class="card-footer">
                    <button class="btn btn-outline-success" asp-controller="Zambezi" asp-action="Index">View</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>E Class </h5>
                </div>
                <div class="card-footer">
                   <button class="btn btn-outline-success">View</button>
                </div>
            </div>
        </div>
     </div>
</div>
</div>
