@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container pt-5 vh-100">
    <div class="row float-end">
        <div class="col-xs-2 col-8">
            <form class="d-flex g-1">
        <input type="search" placeholder="Search" class="form-control"/>
        <button type="submit" class="btn btn-outline-primary">Search</button>
    </form>
        </div>
    </div>
      <div id="tableData">
          <h5 class="text-center">REPUBLIC OF NAMIBIA</h5>
          <h1 class="text-center">MAIN REGISTER</h1>
          <div class="row float-end">
        <div class="col-xs-2 col-8">
            
        
        <a type="submit" class="btn btn-danger text-light" role="button">Download</a>

        </div>
    </div>
          <table style="width:100%;" class="table table-bordered">
             <tr>
                 <td colspan="8">ICN</td>
                 <td colspan="4">Part No</td>
                 <td colspan="4">Page No</td>
             </tr>
             <tr>
                 <td colspan="8">Description</td>
                 <td colspan="4">Availability</td>
                 <td colspan="4">Location</td>
             </tr>
             <tr>
                 <td colspan="4">Category</td>
                 <td colspan="2">Min</td>
                 <td colspan="2">Max</td>
                 <td colspan="4">Average Usage</td>
                 <td colspan="2">DOQ</td>
                 <td colspan="2">Price</td>
             </tr>
             <tr>
                <td colspan="8">Opened By</td>
                 <td colspan="8">Authorised By</td>
             </tr>
             <tr>
                 <td colspan="1">Date</td>
                 <td colspan="1">Voucher</td>
                 <td colspan="4">From/To</td>
                 <td colspan="2">Recieved</td>
                 <td colspan="1">Issued</td>
                 <td colspan="1">S</td>
                 <td colspan="1">U/S</td>
                 <td colspan="1">DI</td>
                 <td colspan="1">DO</td>
                 <td colspan="1">Total</td>
                 <td colspan="1">DIST</td>
                 <td colspan="1">Verified</td>
             </tr>
             <tr>
                 <td colspan="1">Date</td>
                 <td colspan="1">Voucher</td>
                 <td colspan="4">From/To</td>
                 <td colspan="2">Recieved</td>
                 <td colspan="1">Issued</td>
                 <td colspan="1">S</td>
                 <td colspan="1">U/S</td>
                 <td colspan="1">DI</td>
                 <td colspan="1">DO</td>
                 <td colspan="1">Total</td>
                 <td colspan="1">DIST</td>
                 <td colspan="1">Verified</td>
             </tr>
          </table>
      </div>  
</div>
