@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container pt-5">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Zambezi </h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" asp-controller="Zambezi" role="button" asp-action="Index">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Erongo </h5>
                </div>
                <div class="card-footer">
                   <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Erongo">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
           <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Hardap </h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Hardap">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
           <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Kavango East</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" asp-action="Index" asp-controller="KEast">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Kavango West</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="KWest">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Khomas</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Khomas">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
           <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Kunene</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Kunene">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
           <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Ohangwena</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Ohangwena">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container pt-5">
    <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Omaheke</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Omaheke">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Omusati</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Omusati">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
           <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Oshana</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Oshana">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
           <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Oshikoto</h5>
                </div>
                <div class="card-footer">
                   <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Oshikoto">View</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="container pt-5">
    <div class="row g-3">
 <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>Otjozondjupa</h5>
                </div>
                <div class="card-footer">
                   <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Otjozondjupa">View</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    <img src="C:\Users\Peter Helao\Desktop\paulus\C#Code\InventorySystem\InventorySystem\Images\Zambezi_Region_004.jpg" alt="" />
                </div>
                <div class="card-body">
                    <h5>//Kharas</h5>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-success" role="button" asp-action="Index" asp-controller="Kharas">View</a>
                </div>
            </div>
        </div>
    </div>
</div>